body{
    /* padding-top: 15vh; */
    overflow-x: hidden;
}

/*===============
    Introduction
    =================*/

.intro-img{
    width: 100%;
    overflow-y: hidden;
    height: 400px;
}

.intro-img img{
    
}

.intro-content{
    /* background-color: blue; */
}

/*=================
    Guidlines
    ===================*/

