body{
    /* padding-top: 15vh; */
    overflow-x: hidden;
}

/*=================
    Intro 
    ===================*/

.intro-img h1{
    left: 15vw !important;
}

.card{
    height: 500px !important;
}

#themes{
    background-color: #fafafa;
}