body{
    /* padding-top: 15vh; */
    overflow-x: hidden;
}

/*=================
    Intro 
    ===================*/

.intro-img h1{
    left: 15vw !important;
}

.card{    
    height: max-content;
    min-height: 400px;
}

@media (max-width: 575.98px) {
    .card{
        height: min-content !important;
        min-height: unset;
    }
}

#themes{
    background-color: #fafafa;
}

/*================================
            Themes
.   =============================*/

.card{
    background-color: #6d3cc1;
}